<div class="full-page">
  <mat-card class="glass-card mat-elevation-z8">
    <div class="text-center">
      <img src="Images/LOGO (3).png" class="profile-img" alt="Angular Login" />
    </div>
    <mat-card-content>
      <h2 class="text-center text-white fw-bold">Personal Login</h2>
      <form>
        <mat-form-field appearance="fill" class="w-100 mb-3">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            placeholder="Enter your email..."
            [(ngModel)]="loginObj.EmailId"
            name="emailId"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-100 mb-3">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            placeholder="Enter your password..."
            [(ngModel)]="loginObj.Password"
            name="password"
            required
          />
        </mat-form-field>

        <button mat-raised-button color="primary" class="login-btn" (click)="login()">
          Login
        </button>
      </form>

      <div
        *ngIf="message"
        [ngClass]="{
          'text-success': messageType === 'success',
          'text-danger': messageType === 'error'
        }"
        class="message-container mt-3"
      >
        {{ message }}
      </div>
    </mat-card-content>
  </mat-card>
</div>
