<div class="full-page">
  <div class="glass-card">
    <div class="text-center">
      <img src="Images/LOGO (3).png" class="profile-img" alt="Angular Login" />
    </div>
    <div class="card-body">
      <h2 class="text-center text-white fw-bold">Angular Login</h2>
      <div class="mb-3">
        <div class="col-12 mb-2">
          <label for="emailId" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="emailId"
            placeholder="Enter your email..."
            [(ngModel)]="loginObj.EmailId"
            required
          />
        </div>
        <div class="col-12 mb-2">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Enter your password..."
            [(ngModel)]="loginObj.Password"
            required
          />
        </div>
      </div>
      <button type="submit" class="login-btn" (click)="login()">Login</button>
      <div
        *ngIf="message"
        [ngClass]="{
          'text-success': messageType === 'success',
          'text-danger': messageType === 'error'
        }"
        class="message-container"
      >
        {{ message }}
      </div>  
    </div>
  </div>
</div>
