<div class="container mt-5">
  <!-- Hero Section -->
  <div class="hero-section text-center p-5 rounded shadow">
    <h1 class="fw-bold">Welcome to My Portfolio</h1>
    <p class="lead">Building impactful solutions through technology</p>
    <a href="#project" class="btn btn-light btn-lg rounded-pill"
      >View Projects</a
    >
  </div>

  <!-- About Me Section -->
  <div class="row mt-5 align-items-center">
    <div class="col-lg-6 col-md-12">
      <div class="card shadow-sm p-4 m-3 feature-card">
        <h2 class="p-2 text-black fw-bold text-center">Web Developer</h2>
        <p class="text-start">
          Hi, I'm <strong>Varun V</strong>, a dedicated and results-driven
          Software Developer with expertise in
          <strong
            >Java, HTML, CSS, JavaScript, SQL, React (Basics), Angular,
            Bootstrap, and Figma Design</strong
          >. I specialize in building dynamic, responsive, and user-centric web
          applications, leveraging modern technologies to create seamless
          digital experiences. My passion lies in crafting efficient, scalable
          solutions that enhance business growth and user engagement.
        </p>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 text-center">
      <a href="login"
        ><img
          src="Images/profile.jpg"
          style="height: 250px; width: 200px"
          class="img-thumbnail"
          alt="Profile Picture"
      /></a>
    </div>
  </div>

  <!-- Skills Section -->
  <div class="col-md-12 project-card">
    <div class="card shadow-sm p-4 m-3 feature-card">
      <h2 class="text-black fw-bold text-center">Skills</h2>
      <ul class="fs-5">
        <li><strong>Programming:</strong> Java, HTML, CSS, JavaScript</li>
        <li><strong>Database:</strong> SQL, Query Optimization</li>
        <li><strong>Development Tools:</strong> PyCharm, Arduino, Figma</li>
        <li>
          <strong>Additional Skills:</strong> OOP, API Integration,
          Problem-Solving
        </li>
      </ul>
    </div>
  </div>

  <!-- Projects Section -->
  <div id="projects" class="col-md-12">
    <div class="card shadow-sm p-4 m-3">
      <h2 class="p-2 text-black fw-bold text-center">Projects</h2>
      <div class="row">
        <!-- Project 1 -->
        <div class="col-lg-4 col-md-6 col-12 project-card" id="project">
          <div class="card feature-card p-3">
            <img
              src="Images/project1.png"
              class="img-thumbnail mb-3"
              alt="Project 1"
            />
            <h4 class="p-2 text-black fw-bold">
              AI-Based Automated Billing System
            </h4>
            <h4 class="p-2 text-black fw-bold">Project Overview:</h4>
            <ul>
              <li>
                A smart trolley equipped with RFID readers, barcode scanners,
                and cameras automates billing by detecting items and calculating
                bills in real-time. The system reduces queue time by
                automatically deducting the total from the customer's e-wallet,
                enhancing shopping efficiency
              </li>
            </ul>
            <h4 class="p-2 text-black fw-bold">Key Features:</h4>
            <ul class="text-black">
              <li>
                Implemented RFID-based item scanning with a real-time display on
                an LCD
              </li>
              <li>
                Designed billing software to generate and store bills in a
                database.
              </li>
              <li>
                Enabled email functionality for sending bills to customers using
                Python's smtplib.
              </li>
              <li>
                Added options to save and print bills for user convenience
              </li>
            </ul>
          </div>
        </div>

        <!-- Project 2 -->
        <div class="col-lg-4 col-md-6 col-12 project-card">
          <div class="card feature-card p-3">
            <!-- <a href="spacex-clone-task3.netlify.app"> -->
            <img
              src="Images/project 2.png"
              class="img-thumbnail mb-3"
              alt="Project 2"
            />
            <!-- </a> -->
            <h4 class="p-2 text-black fw-bold">Space X Clone Website</h4>
            <h4 class="p-2 text-black fw-bold">Project Overview:</h4>
            <ul>
              <li>
                A smart trolley equipped with RFID readers, barcode scanners,
                and cameras automates billing by detecting items and calculating
                bills in real-time. The system reduces queue time by
                automatically deducting the total from the customer's e-wallet,
                enhancing shopping efficiency
              </li>
            </ul>
            <h4 class="p-2 text-black fw-bold">Tech Stack:</h4>
            <ul>
              <li>HTML, CSS, JavaScript</li>
            </ul>
            <h4 class="p-2 text-black fw-bold">Key Features:</h4>
            <ul class="text-black">
              <li>
                Fully responsive design compatible with various devices and
                screen sizes.
              </li>
              <li>
                Navigation bar and dynamic sections for better user experience.
              </li>
              <li>Clean and organized code structure for scalability.</li>
            </ul>
          </div>
        </div>

        <!-- Project 3 -->
        <div class="col-lg-4 col-md-6 col-12 project-card">
          <div class="card feature-card p-3">
            <a href="weather"
              ><img
                src="Images/project3.png"
                class="img-thumbnail mb-3"
                alt="Project 3"
                style="height: 170px"
            /></a>
            <h4 class="p-2 text-black fw-bold">Weather App</h4>
            <h4 class="p-2 text-black fw-bold">Project Overview:</h4>
            <ul>
              <li>
                A weather forecasting application that provides real-time
                weather updates using the OpenWeather API. The app fetches and
                displays current weather conditions, enhancing user convenience
                with an intuitive interface.
              </li>
            </ul>
            <h4 class="p-2 text-black fw-bold">Tech Stack:</h4>
            <ul>
              <li>HTML, CSS, JavaScript</li>
            </ul>
            <h4 class="p-2 text-black fw-bold">Key Features:</h4>
            <ul class="text-black">
              <li>Live weather updates fetched from OpenWeather API.</li>
              <li>Seamless API integration for real-time data retrieval.</li>
              <li>
                Responsive and user-friendly UI for an enhanced experience.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="hero-section text-center p-2 rounded shadow">
    <div
      class="container d-flex flex-wrap justify-content-between align-items-center"
    >
      <!-- About Me -->
      <div class="text-start">
        <h5 class="fw-bold text-uppercase mb-1">About Me</h5>
        <p class="small mb-0">
          Passionate Software Developer skilled in Java, Angular & more.
        </p>
      </div>

      <!-- Quick Links -->
      <div class="mt-3">
        <span class="p-1 small rounded"
          >© 2024 Varun V | All Rights Reserved.</span
        >
      </div>
      <!-- Social Media -->
      <div class="text-end">
        <h5 class="fw-bold text-uppercase mb-1">Follow Me</h5>
        <div class="d-flex gap-3 justify-content-center">
          <a
            href="https://https://github.com/Varun-San?tab=repositories/"
            class="text-white social-icon"
          >
            <i [ngClass]="['fab', 'fa-github', 'fa-1x']"></i>
          </a>
          <a href="https://linkedin.com/" class="text-white social-icon">
            <i [ngClass]="['fab', 'fa-linkedin', 'fa-1x']"></i>
          </a>
          <a href="https://twitter.com/" class="text-white social-icon">
            <i [ngClass]="['fab', 'fa-twitter', 'fa-1x']"></i>
          </a>
        </div>
      </div>
    </div>
  </footer>
</div>
